


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: 70%;
    list-style: none;
    justify-content: center;
    margin: auto;
}

.gallery-image {
    display: block;
    width: 360px;
    height: 200px;
}

/* .basicLightbox__placeholder>video:first-child:last-child {
    width: 1112px;
    height: 640px;
} */

.basicLightbox--iframe .basicLightbox__placeholder, .basicLightbox--img .basicLightbox__placeholder, .basicLightbox--video .basicLightbox__placeholder {
    width: 1112px;
    height: 640px;
    pointer-events: none;
}

